@model List<Genre>

<div class="text-center" style="color: white;">
    <a class="btn text-light" asp-area="" asp-controller="Editor" asp-action="Index">Film</a>
    <a class="btn btn-primary" href="@Url.Action("Create", "Genre")">Aggiungi nuovo Genere</a>
</div>
<h3 style="color: white;">Film</h3>
<table class="table container" style="color: white;">

    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
</tr>
    </thead>
    <tbody>
        @foreach (Genre genre in Model)
        {
            <tr>
                <td>@genre.Id</td>
                <td>@genre.Name</td>
            </tr>
        }

    </tbody>
</table>
